body {
    background-color: #2e2e2e;
    color: #fff;
  }
  
  .container {
    margin-top: 50px;
  }
  .img-placeholder {
    background-color: grey;
    width: 80%;
    padding-top: 80%; /* 1:1 Aspect Ratio */
    position: relative;
  }
  
  .img-placeholder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  